{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    {% if session.user_id %}

        {% if values is defined %}
        <br>

        <h1 class="col d-flex justify-content-center">
            Create your event: 
        </h1>

        <br>
        <br>
        <br>
        <div class="col d-flex justify-content-center">
        <form action="/create_event" method="POST">
            Event name: 
            <p>
            <textarea name ="event_name" rows="1" cols="15">{{event_name}}</textarea>
            </p>
            Describe the event: 
            <p>
                <textarea name ="event_desc" rows="4" cols="50">{{event_description}}</textarea>
            </p>

            Is the event public?: 
            <p>
                <input type="radio" name="privacy" value="1" checked='checked'> Yes
                <input type="radio" name="privacy" value="0"checked='checked'> No
            </p>
            When is this event held?:
            <p>
                <input type="date" name="date" min="2022-04-01" max="2025-12-30" value={{event_date}}>
                </label>

            </p> 
            What is the timeframe for this event?: 
            <p>
                <input type="time" name="time" value={{event_timeframe}}>
            </p>

            <input type="submit" value="Create">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        </div>
        
    {% else %}
    <br>

    <h1 class="col d-flex justify-content-center">
        Create your event: 
    </h1>

    <br>
    <br>
    <br>
    <div class="col d-flex justify-content-center">
    <form action="/create_event" method="POST">
        Event name: 
        <p>
        <textarea name ="event_name" rows="1" cols="15"></textarea>
        </p>
        Describe the event: 
        <p>
            <textarea name ="event_desc" rows="4" cols="50"></textarea>
        </p>

        Is the event public?: 
        <p>
            <input type="radio" name="privacy" value="1" checked='checked'> Yes
            <input type="radio" name="privacy" value="0"checked='checked'> No
        </p>
        When is this event held?:
        <p>
            <input type="date" name="date" min="2022-04-01" max="2025-12-30">
             </label>

        </p> 
        What is the timeframe for this event?: 
        <p>
            <input type="time" name="time">
        </p>

        <input type="submit" value="Create">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}