{% extends 'base.html' %}

{% block title %}
    My events
{% endblock %}

{% block content %}

        
    </style>
    {% if event is defined and event|length %}

    <br>

    <h1 class="col d-flex justify-content-center">
        Author:  
        {{ author }}
    </h1>


    <br>
    <br>

    {% for event in event %}

    <br>
    <br>

    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 style="color:black;" class="card-title">Event Name: {{ event.event_name }}</h5>
                <h6 style="color:black;" class="card-subtitle mb-2 text-muted">Event Held: {{ event.event_date }}</h6>
                <p style="color:black;" class="card-text">{{ event.event_description }}</p>
                {% if session.user_id %}
                <form action="{{ url_for('event', action='join',id=event.event_id) }}" method="POST">
                    <button class="btn btn-primary" name="join" value="join">Join the event</button>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
                {% endif %}
            </div>
        </div><br>
        </div>
    </div>

    <br>
    <br>
    <br>
    
    {% endfor %}
    {% endif %}

    {% if participants is defined and participants|length %}

        <div style="width: 18rem;" class="list-group list-group-numbered mx-auto justify-content-center">
            <a href="#" class="list-group-item list-group-item-action active">
            Attendance
            </a>
            {% for participants in participants %}
            <a href="#" class="list-group-item list-group-item-action">{{ participants }}</a>
            {% endfor %}
        </div>


    {% endif %}
    
    <br>
    <br>
    <br>


    {% if comment is defined and comment|length %}
    

    
    <div class="card mx-auto justify-content-center" style="width: 18rem;">
        <ul class="list-group list-group-flush justify-content-center">
        {% for comment in comment %}
          <li style="color:black;" class="list-group-item"  >  {{ comment[0] }} by: <i style="color:purple">{{ comment[1] }}</i> Sent at:  {{comment[2].strftime("%H:%M:%S")}} </li>
        {% endfor %}
        
        </ul>
    </div>
    {% endif %}
    


    <br>
    <h9 class="col d-flex justify-content-center">
        Leave a comment: 
    </h1>
    {% for event in event %}
    
    <form action="{{ url_for('event', action='comment',id=event.event_id) }}" method="post">
        <divc class="col d-flex justify-content-center" style="width: 28rem;">
        <textarea name ="content" rows="4" cols="50" placeholder="Type a comment..."></textarea>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </div>
        <input type="submit" value="Submit">
        </form>
    <br>

    {% endfor %}

{% endblock %}