{% extends 'base.html' %}


{% block title %}
    Home Page
{% endblock %}

{% block content %}    

    <br>
    <br>

    </head>
    <body>
        <div class="dropdown col-md-10 text-right" style="height: 200px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Sort events by
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <form action="{{ url_for('index', action='order_participant') }}" method="POST">
                <button class="btn" name="join" value="join">most participants</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            <form action="{{ url_for('index', action='order_comments') }}" method="POST">
                <button class="btn" name="join" value="join">most comments</button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </ul>
        </div>
    </body>
    </html>
    
        {% if invited_events is defined and invited_events|length %}

    <br>

    <h1 class="col d-flex justify-content-center">
        You have been invited to events:
    </h1>

    

    <br>
    <br>

    {% for invited_events in invited_events %}
    
    <br>
    <br>

    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 style="color:black;" class="card-title">{{ invited_events.event_name }}</h5>
                <h6 style="color:black;" class="card-subtitle mb-2 text-muted">{{ invited_events.event_date }}</h6>
                <p style="color:black;" class="card-text">{{ invited_events.event_description }}</p>

                <a href="/event/{{ invited_events.event_id }}" class="card-link">Show the event</a>
                
            </div>
        </div><br>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <br>

    {% if private_events is defined and private_events|length %}

    <br>

    <h1 class="col d-flex justify-content-center">
        Private Events
    </h1>


    <br>
    <br>

    {% for private_events in private_events %}
    
    <br>
    <br>

    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 style="color:black;" class="card-title">{{ private_events.event_name }}</h5>
                <h6 style="color:black;" class="card-subtitle mb-2 text-muted">{{ private_events.event_date }}</h6>
                <p style="color:black;" class="card-text">{{ private_events.event_description }}</p>
                <a href="/event/{{ private_events.event_id }}" class="card-link">Show the event</a>
                <br>
                <a href="{{ url_for('search_users', id=private_events.event_id) }}" class="card-link">Invite a member</a>
            </div>
        </div><br>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <br>


    <h1 class="col d-flex justify-content-center">
        Public Events
    </h1>

    


    {% for p_events in p_events %}
    
    <br>
    <br>

    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 style="color:black;" class="card-title">{{ p_events.event_name }}</h5>
                <h6 style="color:black;" class="card-subtitle mb-2 text-muted">{{ p_events.event_date }} at {{  p_events.event_time  }}</h6>
                <p style="color:black;" class="card-text">{{ p_events.event_description }}</p>
                <a href="/event/{{ p_events.event_id }}" class="card-link">Show the event</a>
            </div>
        </div><br>
        </div>
    </div>

    {% endfor %}

    {% if session.user_id %}
    
    {% endif %}

{% endblock %}