{% extends 'base.html' %}


{% block title %}
    My events
{% endblock %}

{% block content %}

    {% if my_events is defined and my_events|length %}

    <br>

    <h1 class="col d-flex justify-content-center">
        My Events
    </h1>


    <br>
    
    {% for my_events in my_events %}

    <br>
    <br>

    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 style="color:black;" class="card-title">{{ my_events.event_name }}</h5>
                <h6 style="color:black;" class="card-subtitle mb-2 text-muted">{{ my_events.event_date }}</h6>
                <p style="color:black;" class="card-text">{{ my_events.event_description }}</p>
                <form id="form" action="{{url_for('my_events', action='delete', event_id=my_events.event_id)}}" method="POST">
                    <button class="btn btn-danger" name="delete" value="delete">Delete event</button>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    
                </form>
                <br>
                <form id="form" action="{{url_for('my_events', action='clear_comments', event_id=my_events.event_id)}}" method="POST">
                    <button class="btn btn-danger" name="warning" value="warning">Clear comments</button>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
                <br>
                <form id="form" action="{{url_for('my_events', action='modify', event_id=my_events.event_id)}}" method="POST">
                    
                    <h9 style="color:black;" class="card-title">rename the event</h5>
                    <p>
                    <textarea name ="new_event_name" rows="1" cols="15"></textarea>
                    </p>
                    
                    <h9 style="color:black;" class="card-title">Edit description</h5>
                    <p>
                        <textarea name ="new_event_desc" rows="4" cols="15"></textarea>
                    </p>
                    
                    <h9 style="color:black;" class="card-title">Edit privacy</h5>
                    <p>
                        <p>
                            <input type="radio" name="new_privacy" value="1" checked='checked'> Public
                            <input type="radio" name="new_privacy" value="0" checked='checked'> Private
                        </p>
                    </p>

                    <h9 style="color:black;" class="card-title">Edit Date</h5>
                        <p>
                            <input type="date" name="new_date" min="2022-04-01" max="2025-12-30">
                             </label>
                
                        </p> 
                    
                    <button class="btn btn-warning" name="modify" value="modify">Modify the event</button>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>

            </div>
        </div><br>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <br>
    <h1 class="col d-flex justify-content-center">
        You have not created any events yet.
    </h1>
    {% endif %}
    <br>

{% endblock %}