{% extends 'base.html' %}


{% block title %}
    My events
{% endblock %}

{% block content %}

    {% if my_events is defined and my_events|length %}

    <br>

    <h1 class="col d-flex justify-content-center">
        My Events
    </h1>


    <br>
    <br>

    {% for my_events in my_events %}

    <br>
    <br>

    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 style="color:black;" class="card-title">{{ my_events.event_name }}</h5>
                <h6 style="color:black;" class="card-subtitle mb-2 text-muted">{{ my_events.event_date }}</h6>
                <p style="color:black;" class="card-text">{{ my_events.event_description }}</p>
                <button class="btn btn-primary" name="event_info" value="event_info" href="/event/{{ my_events.event_id }}">Show the event</button>
            </div>
        </div><br>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <br>

{% endblock %}