{% extends 'base.html' %}

{% block title %}
    Search for users
{% endblock %}

{% block content %}  

<style>


       .height{
        height: 100vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid rgb(136, 255, 0);


       }

       .search .fa-search{

        position: absolute;
        top: 40px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }
    

</style>

<div class="container">
    <form action="{{url_for('search_users',id =event_id)}}" method="POST">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Search for user..." name="query">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>        
      </div>      
    </div>
    </form>
</div>
    


{% endblock %}